.header__title {
  color: var(--color-primary);
  font-family: var(--font-title);
  display: block;
  text-align: center;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
