.hero-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/vasos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 90vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.hero-section__info {
  text-align: center;
  padding: 1rem;
}

.hero-section__logo {
  height: 22rem;
  width: 22rem;
  flex-shrink: 0;
}

.hero-section__title {
  font-family: var(--font-title);
  color: var(--color-bg);
  margin-bottom: 1rem;
  font-weight: 900;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 2);
}

.hero-section__description {
  font-family: var(--font-principal);
  color: var(--color-secondary);
  font-size: 1.2rem;
  line-height: 25px;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 2);
}
