.map__continer {
    width: 100%;
    height: 540px; /* Ajusta la altura según tus necesidades */
   
    z-index: 1000;
    
}

.map__continer iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    

}