.reviews {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: var(--color-bg);
}

.reviews__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 40px;
  margin-top: 20px;
}

.reviews__card {
  background-color: var(--color-bg);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
}

.reviews__title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font-title);
  color: var(--color-text-second);
}

.reviews__user {
  font-family: var(--font-title);
  color: var(--color-text-second);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
